

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;

}
#menu button {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 174, 0);

}

h6{
    padding-left: 24px;
}