{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/RentCar/static/RentCar/css/pagina_formulario/formpag.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <title>Formulario registro</title>
</head>

<body>
  <!--=========================================-->
  <!--ENCABEZADO-->
  <!--=========================================-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid" id="menu">
      <a class="navbar-brand" href="#">
        <img src="{% static 'RentCar/img/Imagenes_main/logo.png' %}" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
              href="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""> <span>Catálogo</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Información</a>
          </li>
        </ul>
        <form class="d-flex">
          <a href="" class="btn mx-3"
            style="background-color: rgb(255, 174, 0);">Conectar</a>
        </form>
      </div>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
  <!--=========================================-->
  <!--DATOS A SOLICITAR-->
  <!--=========================================-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex mt-3 d-flex justify-content-center">
        <a href="" class="btn mx-3" style="background-color: rgb(255, 174, 0);">Volver</a>

    </div>


    </div>

    
  </div>
  <form id="registrarusuario" class="form-registro my-3 mb-4" method="POST" action="">
  
      <center><h4 class="formu" style="font-weight: bold;">Registrarse</h4></center>
      <input class="controls" type="text" name="rut" id="rut" placeholder="Rut o pasaporte" required>
      <input class="controls" type="password" name="clave" id="clave" placeholder="Contraseña"required>
      <input class="controls" ype="text" name="nombreu" id="nombreu" placeholder="Nombre"required>
      <input class="controls" type="text" name="appaterno" id="appaterno" placeholder="Apellido paterno"required>
      <input class="controls" type="text" name="apmaterno" id="apmaterno" placeholder="Apellido materno"required>
      <input class="controls" type="text" name="correo" id="correo" placeholder="Correo electronico"required>
      <input class="controls" type="text" name="dire" id="dire" placeholder="Direccion"required>
      <label style="font-size: 20px;" for="">Fecha de nacimiento</label>
      <input class="controls" type="date" name="naci" id="naci" required>
      <input class="botons" type="submit" value="Agregar registro">
      <p style="color: black;" class="warnings" id="warnings"></p>
</form>    
  <!--=========================================-->
  <!--PIE DE PAGINA-->
  <!--=========================================-->
  <script src="/RentCar/static/RentCar/js/vali_registro/vali.js"></script>
  <footer class="w-100 d-flex aling-items justify-content-center" style="background-color: rgb(255, 174, 0);">
    <p class="fs-7 px-3 pt-3" style="font-weight: bold;">GODES &copy; Derechos Reservados 2022</p>

    
  </footer>

</body>

</html>