
{% extends 'RentCar/catalogo.html' %}
{% load static %}


{% block content %}

<section class="container-fluid">
  
    <div class="row w-100 mx-auto catalogos-autos" id="color_btn_cat">
      {% for vehiculo in vehiculo %}
        <div class="col-lg-4 col-md-12 col-sm-12  my-5 d-flex justify-content-center icono2-wrap">
            <div class="card" style="width: 20rem;">
                <img src="{{ vehiculo.imagen1.url }}" class="card-img-top" alt="test">
                <div class="card-body">
                  <h5 class="card-title">{{vehiculo.idModelo}}</h5>
                  <p class="card-text">{{vehiculo.descripcion}}</p>
                  <a href={{vehiculo.patente}} class="btn " style="background-color: rgb(255, 174, 0);">Ir</a>
                  {% if user.is_staff %}
                  <a href="{% url 'mod_auto' vehiculo.patente %}" class="btn" style="background-color: rgb(255, 174, 0); margin-left: 110px;">Editar</a>
                  <a href="{% url 'eliminarAuto' vehiculo.patente %}" class="btn" style="background-color: red;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg></a>
                  {% endif %}
             
                </div>
              </div>
  </div>
  {% endfor %}
</div>

</section>

{% endblock %}