{% extends 'RentCar/plantilla_info_auto.html' %}
{% load static %}

{% block content %}
<div class="contenedor">

  <div style="text-align:center">
    <h1>{{vehiculo.idModelo}}</h1>
    <p>¡El mejor auto que puedas obtener!</p>
  </div>
  <div class="seccion">
    <div id="slider">

      <ul class="slider">
        <li id="slide1">
          <img src="{{ vehiculo.imagen1.url }}" />
        </li>
        <li id="slide2">
          <img src="{{ vehiculo.imagen2.url }}" />
        </li>
        <li id="slide3">
          <img src="{{ vehiculo.imagen3.url }}" alt="">
        </li>
      </ul>

      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
        <li>
          <a href="#slide3">3</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="tarjetas">
          MODELO <br>
        </div>
        <div class="minitarjetas">
          {{vehiculo.idModelo}}
        </div>
      </div>
      <div class="col-md">
        <div class="tarjetas">
          PRECIO <br>
        </div>
        <div class="minitarjetas precio">
          {{vehiculo.precio_vehiculo}} CLP/Día
        </div>

      </div>
    </div>
  </div>
  <div class="column">
    <table>
      <tr>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-123"
            viewBox="0 0 16 16">
            <path
              d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z" />
          </svg></td>
        <td>{{vehiculo.patente}}</td>
      </tr>
      <tr>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-palette"
            viewBox="0 0 16 16">
            <path
              d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
            <path
              d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z" />
          </svg></td>
        <td>{{vehiculo.color}}</td>
      </tr>
      <tr>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-fill"
            viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg></td>
        <td> {{vehiculo.asientos}} Personas</td>
      </tr>
      <tr>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-ethernet"
            viewBox="0 0 16 16">
            <path
              d="M14 13.5v-7a.5.5 0 0 0-.5-.5H12V4.5a.5.5 0 0 0-.5-.5h-1v-.5A.5.5 0 0 0 10 3H6a.5.5 0 0 0-.5.5V4h-1a.5.5 0 0 0-.5.5V6H2.5a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5ZM3.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm2 0h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5ZM9.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5Z" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2ZM1 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2Z" />
          </svg>
        </td>
        <td>{{vehiculo.nro_chasis}}</td>
      </tr>
      <tr>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
            class="bi bi-battery-charging" viewBox="0 0 16 16">
            <path
              d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z" />
            <path d="M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z" />
            <path
              d="M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z" />
            <path
              d="M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z" />
          </svg></td>
        <td>{{vehiculo.rendimiento}}</td>
      </tr>
      <tr>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cpu"
            viewBox="0 0 16 16">
            <path
              d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
          </svg></td>
        <td>{{vehiculo.motor}}</td>
      </tr>
    </table>
  </div>
  <div class="column">
    <h1>Descripcion</h1>
    <p>{{vehiculo.descripcion}}</p>
  </div>

  {% if user.is_authenticated %}
  <!-- Boton arrendar -->
  <div class="container">
    <div class="descripcion">
      <div class="row">
        <div class="col-md">
          <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Arrendar<svg
              xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-forward-fill"
              viewBox="0 1 16 16">
              <path
                d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z" />
            </svg></button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 style="font-size: 27px; font-weight: bold;" class="modal-title" id="staticBackdropLabel">Elija sus
            condiciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="{% url 'registraOrdenV2' %}" method="POST" class="formulario" id="formulario">
            {% csrf_token %}

            <!--Fecha de el dia de la reserva-->
            <div class="form-group">
              <label for="reserva">Fecha de la reserva: </label>
              <input type="date" class="formulario-input" name="reserva" id="reserva" required>
            </div>
            <!--Fecha de inicio-->
            <div class="form-group">
              <label for="inicio">Fecha de inicio: </label>
              <input type="date" class="formulario-input" name="inicio" id="inicio" required>
            </div>
            <!--Fecha de termino-->
            <div class="form-group">
              <label for="termino">Fecha de término: </label>
              <input type="date" class="formulario-input" name="termino" id="termino" required>
            </div>
            <input class="controls" ype="text" name="nro_documento" id="nro_documento" placeholder="Numero de documento"
              required>
            <input class="controls" type="hidden" name="ruttt" id="ruttt" placeholder="Rut o pasaporte"
              value="{{user.username}}" required>
            <input class="controls" type="hidden" name="patentee" id="patentee" placeholder="Patente del vehiculo"
              value="{{vehiculo.patente}}">
            <input class="controls" type="hidden" name="status" id="status" value="1">
            <input class="controls" type="hidden" name="precio" id="precio" value="{{vehiculo.precio_vehiculo}}">
            <input class="controls" type="number" name="valu" id="valu" placeholder="Precio acordado" required>
            <!--Terminos y condiciones-->
   
            <div class="form-group">
              <label style="font-size: 15px;">
                <input class="formulario-chekbox" type="checkbox" name="terminos" id="terminos" required>
                <a style="color:rgb(255, 174, 0) ;" href="/RentCar/templates/RentCar/Pag_info.html" target="_blank">
                  Acepto los terminos y condiciones </a>
              </label>
            </div>
            <script>
              function isValidDate(day, month, year) {
                var dteDate;
                month = month - 1;
                dteDate = new Date(year, month, day);
                return ((day == dteDate.getDate()) && (month == dteDate.getMonth()) && (year == dteDate.getFullYear()));
              }

              /**
               * Funcion para validar una fecha
               * Tiene que recibir:
               *  La fecha en formato español dd/mm/yyyy
               * Devuelve:
               *  true o false
               */
              function validate_fecha(fecha) {
                var patron = new RegExp("^(19|20)+([0-9]{2})([-])([0-9]{1,2})([-])([0-9]{1,2})$");

                if (fecha.search(patron) == 0) {
                  var values = fecha.split("-");
                  if (isValidDate(values[2], values[1], values[0])) {
                    return true;
                  }
                }
                return false;
              }

              function calcularDias() {
                var precioAuto = document.getElementById("precio").value;
                var fechaInicial = document.getElementById("inicio").value;
                var fechaFinal = document.getElementById("termino").value;
                var resultado = "";
                if (validate_fecha(fechaInicial) && validate_fecha(fechaFinal)) {
                  inicial = fechaInicial.split("-");
                  final = fechaFinal.split("-");
                  // obtenemos las fechas en milisegundos
                  var dateStart = new Date(inicial[0], (inicial[1] - 1), inicial[2]);
                  var dateEnd = new Date(final[0], (final[1] - 1), final[2]);

                  if (dateStart < dateEnd) {
                    // la diferencia entre las dos fechas, la dividimos entre 86400 segundos
                    // que tiene un dia, y posteriormente entre 1000 ya que estamos
                    // trabajando con milisegundos.
                    var diasDif = dateEnd.getTime() - dateStart.getTime();
                    resultado = "Dias trancurridos: " + (diasDif / 86400000) + " ";
                    valor = (diasDif / 86400000) * precioAuto;
                  } else {
                    alert("La fecha inicial es posterior a la fecha final");

                  }
                } else {
                  if (!validate_fecha(fechaInicial))
                    alert("La fecha inicial es incorrecta");
                  if (!validate_fecha(fechaFinal))
                    alert("La fecha final es incorrecta");
                }



                document.getElementById("resultado").innerHTML = resultado;
                document.getElementById("valor").innerHTML = valor;

              }
            </script>
            

            <div class="modal-footer">
              <!--Cancelar y enviar-->
              <input style="background-color: rgb(255, 174, 0); border: none;" type="button" class="btn btn-primary"
                value="Calcular precio" onclick="calcularDias();">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              <button style="background-color: rgb(255, 174, 0); border: none;" type="submit" class="btn btn-primary"
                id="enviar">Enviar</button>
              <div id="resultado"></div>
              <div id="valor"></div>
              <p class="error" id="error"></p>
              <p class="correcto" id="correcto"></p>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const parrafo = document.getElementById("error")
  const parrafo1 = document.getElementById("correcto")
    
    $(document).ready(function () {
        $("#formulario").submit(function (e) {
            
            let entrar = false
            let error = ""
            let f1 = document.getElementById("inicio").value
            let f2 = document.getElementById("termino").value
            let f3 = document.getElementById("precio").value
            let f4 = document.getElementById("valu").value
            let f5 = document.getElementById("reserva").value
            parrafo.innerHTML = ""
            parrafo1.innerHTML = ""

            
            var resultado = "";
            inicial = inicio.value.split("-");
            final = termino.value.split("-");
            var dateStart = new Date(inicial[0], (inicial[1] - 1), inicial[2]);
            var dateEnd = new Date(final[0], (final[1] - 1), final[2]);
            var diasDif = dateEnd.getTime() - dateStart.getTime();
            valor1 = (diasDif/ 86400000)*precio.value;
    
            if (valor1 > valu.value){
                error = 'El precio no coincide con el calculado'
                entrar = true
            }
    
            if (valor1 <  valu.value){
                error = 'El precio no coincide con el calculado'
                entrar = true
            }
            if (inicio.value > termino.value) {
                error = 'La fecha de inicio no puede ser mayor a la de término'
                entrar = true
            }
            if (inicio.value == termino.value) {
                error = 'El arriendo debe ser mínimo de un día'
                entrar = true
            }
            
    
            if (entrar) {
                
                parrafo.innerHTML = error
                e.preventDefault();
            }
            else {
                parrafo1.innerHTML = "¡El auto ha sido arrendado!"
    
            }
            
        })
    
    });
    
    inicio.min = new Date().toISOString().split("T")[0];
    termino.min = new Date().toISOString().split("T")[0];
    reserva.min = new Date().toISOString().split("T")[0];
    reserva.max = new Date().toISOString().split("T")[0];

    
    </script>
{% endblock %}