  
  {% extends 'RentCar/base.html' %}
  {% block contenido %}
  {% load static %}

  <link rel="stylesheet" href="{% static 'RentCar/css/inicio_Sesion/InicioSesion.css' %}">



<!--=========================================-->
<!--DATOS A SOLICITAR-->
<!--=========================================-->

<form class="form-registro mb-4" action="" method="POST" id="form">

  <center><h4 class="formu" style="font-weight: bold;">Iniciar Sesion</h4></center>
  <input class="controls" type="text" name="Rut" id="Rut" placeholder="Ingrese su rut o pasaporte" required>
  <input class="controls" type="password" name="clave" id="clave" placeholder="contraseña" required>
  <input type="submit" class="botons" type="button" value="Ingresar"></a>
  <a href="{% url 'registro' %}"><input class="botons" type="button" value="Registrarse"></a>

  <!--<p class="warnings" id="warnings"></p>-->
</form>


{% endblock %}