  
  {% extends 'RentCar/base.html' %}
  {% block contenido %}
  {% load static %}



<!--=========================================-->
<!--Sliders con imagenes-->
<!--=========================================-->

<div id="carouselExampleControls" class="carousel slide"  data-bs-ride="carousel" >
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-slide="3000">
        <img src="{% static 'RentCar/img/Imagenes_main/slider1.jpg' %}" class="d-block w-100" alt="slider1">
      </div>

      <div class="carousel-item" data-bs-slide="3000">
        <img src="{% static 'RentCar/img/Imagenes_main/slider2.jpg' %}" class="d-block w-100" alt="slider2">
      </div>
      
      <div class="carousel-item" data-bs-slide="3000">
        <img src="{% static 'RentCar/img/Imagenes_main/slider3.jpg' %}" class="d-block w-100" alt="slider3">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<!--=========================================-->
<!--INTRO-->
<!--=========================================-->

<section class="w-50 mx-auto text-center pt-5" id="intro" >
<h1 class="p-3 fs-2 border-top border-3 pt-5">Un lugar único para arrendar <span style="color: rgb(255, 174, 0);">vehículos.</span> </h1>
<p class="p-3 fs-4">Somos un lugar confiable, contamos con garantias, seguros de emergencias y por sobre todo queremos que la experiencia del usuario sea  <span style="color:rgb(255, 174, 0) ;"> INOLVIDABLE.</span></p>

</section>

<!--=========================================-->
<!--DESTACADO-->
<!--=========================================-->

<section class="container-fluid">
    <div class="row w-100 mx-auto servicio-fila"  >
        <div class="col-lg-6 col-md-12 col-sm-12  my-5 d-flex justify-content-start icono-wrap ">
            <img src="{% static 'RentCar/img/Imagenes_main/car.png' %}" alt="car"  width="180" height="180">
        
            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">Variedad</h3>
                <p class="px-4">En GODES contamos con variedad de vehículos.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 my-5 d-flex justify-content-start icono-wrap">
            <img src="{% static 'RentCar/img/Imagenes_main/location.png' %}" alt="location"  width="180" height="180">
        
        <div>
            <h3 class="fs-5 mt-4 px-4 pb-1">Ubicación</h3>
            <p class="px-4">Estamos en constante expansión para que puedas solicitar nuestros servicios en cualquier lugar.</p>
        </div>
        </div>

    </div>
    <div class="row w-100 mx-auto servicio-fila"  >
        <div class="col-lg-6 col-md-12 col-sm-12  my-5 d-flex justify-content-start icono-wrap ">
            <img src="{% static 'RentCar/img/Imagenes_main/padlock.png' %}" alt="padlock"  width="180" height="180">
        
            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">Seguridad</h3>
                <p class="px-4">La seguridad es primordial en GODES, tanto tu integridad física como privacidad en general, en GODES están aseguradas. </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 my-5 d-flex justify-content-start icono-wrap">
            <img src="{% static 'RentCar/img/Imagenes_main/money.png' %}" alt="money  width="180" height="180">
        
        <div>
            <h3 class="fs-5 mt-4 px-4 pb-1">Precios</h3>
            <p class="px-4">Tenemos los mejores precios del mercado, accesibles para todo tipo de bolsillos.</p>
        </div>
        </div>

    </div>
    
</section>
<!--=========================================-->
<!--PIE DE PAGINA-->
<!--=========================================-->

{% endblock %}