
  {% extends 'RentCar/base.html' %}
  {% block contenido %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'RentCar/css/pagina.reg/estiloreg.css' %}">
  {% if not user.is_staff %}
  <h2 style="text-align: center; padding-bottom: 20% ; padding-top: 10%;" >No tienes los privilegios para acceder.</h2>
  {% endif %}
  {% if user.is_staff %}
    <table style="line-height: 3; margin-bottom: 400px;" class="table table-striped">
        <thead style="background-color:rgb(255, 174, 0) ;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Auto</th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Fecha fin</th>
            <th scope="col">Total</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for i in ordenes %}
            <th scope="row w-100 mx-auto">{{i.id_orden}}</th>
            <td>{{i.rutPasaporte}}</td>
            <td><a href="{% url 'info_auto' i.ptente %}">{{i.ptente}}</a> </td>
            <td>{{i.dia_inicio}}</td>
            <td>{{i.dia_termino}}</td>
            <td>${{i.precio_total_orden}} </td>
            <td>
              <a href="{% url 'eliminarOrden' i.id_orden %}" class="btn btn-danger btn-sm">Eliminar orden</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

     
{% endblock %}
